.card-grid__like {
  width: 20.76px;
  height: 18.13px;
  border: none;
  background: rgba(0, 0, 0, 0) url(../../../images/heart.svg);
  transition: opacity 1s linear 0s;
  outline: none;
  margin-bottom: 3px;
}

.card-grid__like:hover {
  opacity: 0.6;
  cursor: pointer;
}