.header__container{
  display: flex;
}
@media screen and (max-width:500px) {
  .header__container {
    justify-content: space-between;
    border-top:1px solid #545454;
    padding-top: 27px;
  }
}