.card-grid__delete-button {
  width: 18px;
  height: 19.3px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0) url(../../../images/Trash.svg);
  transition: opacity 1s linear 0s;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card-grid__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}